.orderBar {
    display: grid;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: 50px;
    grid-template-columns: 95px 80px 30px;
    gap: 40px;
    background-color: rgba(65, 65, 65, 0.6);
    align-items: center;
    margin-top: 60px;
    justify-items: center;
    z-index: 2;
  }

  .orderBar select {
    display: grid;
    height: 30px;
    align-self: center;
    background-color: grey;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Comfortaa';
    text-align: center; 
    border: 1px solid black;
    /* color: #2ef904; */
    color: aliceblue;
    justify-items: center;

  }

  select option {
    font-weight: 400;
    margin:0px;
    padding: 0px;
  }

  .reset {
    width: 60px;
    height: 30px;
    align-self: center;
    border: 0;
    background-color: aliceblue;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    justify-self: center;
    font-family: 'Comfortaa';
    font-weight: 600;
    border: 1px solid black;
    padding: 0;
    margin: 0px;
  }
  
  .reset:hover {
    scale: 0.9;
    background-color: rgb(108, 231, 104);
    border: 1px solid black;
  }